<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h1>Index Page</h1>

<section>

  <div class="container p-3">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header text-center fs-4">Тарифы и цена</div>

          <div class="card-body">

            <p><h5>Рассчет цен 100 товаров одновременно за загрузку - 1000 руб/мес.</h5></p>
            <p><h5>Безлимитный рассчет цен товаров за загрузку - 5000 руб/мес.</h5></p>
            <br>
            <p><h5>По вопросам оплаты обращаться в службу поддержки.</h5></p>


          </div>
        </div>
      </div>
    </div>
  </div>

</section>

</body>
</html>